/*-----display up to 1350px;*/
@media only screen and (max-width: 1300px){
	.content__container__list__item {
        line-height:100px;
        margin:30px;
		margin-left: 6%;
		font-size: 100%;
		font-weight: bold;
	  }
	  
}

/* Big tablet to 1200px; */

@media only screen and (max-width: 1200px){
	html{
		font-size: 16px;
	}
	.heading-main-box{
		transform: translate(-30%,-50%);
	}

	form{
		margin-left: 30%;
	}
	.video-product{
		width: 100%;
	}
	.fb-page{
		margin-left: 13%;
	}
}

/* Small tablet to big tablet from 768px to 1023px; */
@media only screen and (max-width: 1023px){
	.logo{
		width: 90px;
		margin-left: 60px;
	}
	.main-nav {
		margin-right: 15px;
		margin-top: 60px;
	}

	.main-nav li {
		margin-right: 10px;
	}

	.heading-main-box{
		transform: translate(-20%,-50%);
	}

	.product-section .btn{
		width: 80%;
		margin-left: 10%;
	}

	.product-box{
		width: 95%;
	}

	h3{
		font-size: 90%;
	}

	.product-box .small-icon{
		margin-right: 5px;
	}

	.social-icons li{
		margin-bottom: 20px;
		margin-left: 10%;
	}

	.social-icons li i{
		font-size: 40px;
	}

	.information i{
		display: inline-block;
	}

	.information li{
		font-size: 15px;
	}
	.video-product{
		width: 95%;
	}
	.fb-page{
		margin-left: -10%;
	}
}

/* Cell phones to small tablets */
@media only screen and (max-width: 767px){
	.col{
		width: 100%;
	}

	.main-nav{
		visibility: hidden;
	}
	.logo{
		width: 100px;
		margin-left: 38%;
		margin-top: 10%;
	}

	h1{
		word-spacing: 2px;
		font-size: 250%;
	}
	.heading-main-box{
		transform: translate(-17%,-50%);
	}
	.heading-main-box .btn{
		width: 15%;
	}
	.about-picture{
		text-align: center;

	}
	.about-picture img{
		width: 70%;
		margin-bottom: 10%;
	}
	.about-section .row .p-long{
		font-size: 15px;
	}
	.picture-title{
		font-size: 15px;
	}
	.product-box{
		width: 80%;
		margin-left: 20%;
	}
	.product-box ul li{
		margin-left: 20%;
	}
	.testimonials-section .row .col{
		margin-bottom: 50px;
	}
	figcaption{
		visibility: hidden;
	}
	.logo-sponsor{
		width: 80px;
	}
	.information{
		margin-top: 20px;
		text-align: center;
	}
	.information li{
		font-size: 20px;
	}
	.social-icons{
		text-align: center;
	}
	.social-icons li{
		font-size: 40px;
		margin-bottom: 20px;
		margin-left: 10%;
	}
	.video-product{
		margin: 18px;
	}
	.fb-page{
		margin-left: 15%;
		margin-top: 20px;
	
	}
}

/* Cellphones from 0 to 480px; */
@media only screen and (max-width: 500px){
	html{
		font-size: 12px;
	}

	h1{
		font-size: 200%;
	}
	.p-long-2{
		font-size: 120%;
	}

	.logo{
		width: 100px;
		margin-top: 30%;
		margin-left: 37%;
	}

	.heading-main-box{
		transform: translate(-10%, -50%);
		top: 60%;
		}


	.information li{
		font-size: 130%;
	}


	
	.fb-page{
		margin-left: 5%;
	}
	.content__container__list__item {
			line-height:37px;
			margin:0;
			margin-left: 1.5%;
		  }
		  .content__container {
			  height: 44px;
		  }
		  .social-icons{
			margin-top: 50px;
			list-style: none;
			margin-left: 50px;
		}

}
@media only screen and (max-width: 426px){
	.fb-page {
		margin-left: -4%;
	}
	.content__container__text {
		display: inline;
		float: left;
		margin-right: 2%;
		margin-left: 1.5%;
	  }
  
	  .content__container__list {
		margin-top: 0;
		padding-left: 110px;
		text-align: left;
		list-style: none;
		-webkit-animation-iteration-count: 0;
	  }
	  .content__container__list__item {
		line-height:30px;
		margin-left: 0px;
		
	}
	.content__container {
		height: 35px;
		font-size: 30px;
	}
}

@media only screen and (max-width: 414px){
	
}

@media only screen and (max-width: 320px){
	.fb-page{
		margin-left: -50px;
		width: 70%;
	}
	.heading-main-box{
		margin-left: -20px;
	
	}
	.content__container__text {
		display: inline;
		float: left;
		margin-right: 0;
		margin-left: 0%;
	  }
  
	  .content__container__list {
		margin-top: 0;
		margin-left: -1%;
		padding-left: 110px;
		text-align: left;
		list-style: none;
		-webkit-animation-iteration-count: 0;
	  }
	  .content__container__list__item {
		line-height:33px;
		
	}
	.content__container {
		height: 40px;
	}
	
}

