/*------------------------------------*/
/*----------------default- setup---------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: : optimizeLegibility;
}

body {
    overflow-x: hidden;
}
/*-------------------------------------------*/
/*----------resusable component--------------*/


.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h1,h3{
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1{
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 100;
    word-spacing: 10px;
    color: white;
    line-height: 105%;
    margin-bottom: 50px;
}

h2{
    color: #e67e22;
    font-size: 150%;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

h2:after{
    content:" ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: rgba(230,126,34,0.5);
    margin: 0 auto;
    margin-top: 5px;
}

h3{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    color:white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 15px;
}

.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}

section{
    padding: 50px;
}

.small-icon{
    color: #6c7c8b;
    font-size: 120%;
    margin-right: 10px;
}
/*--------------------------------------*/
/*-------------header----------------------------------------*/
/*-----------------------------------------*/

header {
    background-image: linear-gradient(45deg, rgba(2,33,64, 0.8) 55%,rgba(45,95,93, 0.85)), url("../img/background.jpg");
    background-size: cover;
    background-position:  center;
    height: 100vh;
    background-attachment: fixed;
    /*view height*/
}

.logo{
    width: 120px;
    float: left;
    margin-left: 80px;
    margin-top: 23px;
}
.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 105%;
    font-weight: 700;
    transition: border-bottom 0.3s;
    padding:  3px 0;
}
.main-nav li{
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #cccccc;
}

/*------------------------------------------*/
/*------------sticky------------------*/
.sticky{
    background-color: rgba(2,33,64,1.0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 55px;
}

.sticky .logo {
    width: 67px;
    margin-top: -7px;
    margin-left: 80px;
}

.sticky .main-nav{
    margin-top: 14px;
}

/*---------------------------------------------*/
/*--------about section-----------------------*/
.about-picture{
    position: relative;
    margin-top: 50px;
}
.about-picture img{
    width: 105%;
    border-radius: 20px;
    border: 4px solid #94afc9;
    /* box-shadow: 5px 3px 5px 2px #265077; */
    /* x y do mo`-do phong - rong mau*/
    /* filter: brightness(50%) blur(2px); */
    transition: all .7s;
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-55%, 100%);
    opacity: 0;
    transition: all .7s;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(50%) blur(2px);
}

.about-picture:hover .picture-title, 
.about-picture:active .about-picture{
    transform: translate(-65%, -50%);
    opacity: 1;
}

/*-----------------------*/
/*-----products section----------------*/

.video-product{
    margin-top: 2%;
    margin-left: 10%;
    width: 520px;
    height: 700px;
}

.p-long-2{
    text-align: left;
    color: #265077;
    font-size: 19px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 75%;
    margin-left: 15%;
    line-height: 140%;
}
.video-product-final{
    margin-top: -11%;
    margin-left: 25%;
    
}
/*---------------------------------*/
/*------testtimonials/comment section----------*/

.testimonials-section{
    background-image: linear-gradient(45deg, rgba(2,33,64, 0.8) 55%,rgba(45,95,93, 0.85)), url("../img/bg-kehoach-1.png"); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.testimonials-section h2{
    margin-bottom: 70px;
}

blockquote {
    width: 95%;
    position: relative;
    font-style: normal;
    line-height: 170%;
    color: white;
}

blockquote:before{
    content: "\201e";
    display: block;
    font-size: 400%;
    position: relative;
    top: -60px;
    left: -10px;

}

cite{
    display: block;
    color: #6b95bd;
    margin-top: 25px;
}

cite img{
    height: 50px;
    border-radius: 50%;
    border: 2px solid #265077;
    vertical-align: middle;
    margin-right: 5px;
}

/*-------------------------------------*/
/*------related-pages section--------------*/

.related-pages-section{
    background-color: #f4f4f4;
}

.related-pages-section h2{
    margin-bottom: 50px;
}

.related-pages-showcase{
    margin-left: 9.5%;
}

.related-pages-showcase li{
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    margin-bottom: 10px;
}

.logo-related-pages{
    width: 120px;
    cursor: pointer;
    transition: all .5s;
}

.related-pages-showcase li .logo-related-pages:hover,
.related-pages-showcase li .logo-related-pages:active{
    transform: scale(1.1);
}

figcaption{
    color: #265077;
    font-weight: 500;
    font-size: 110%;
    cursor: pointer;
}

/*--------------------------------------*/
/*--------contact form--------*/
.contact-section{
    background-image: linear-gradient(45deg, rgba(2,33,64, 0.8) 55%,rgba(45,95,93, 0.85)), url("../img/khtn.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.information{
    list-style: none;
    color: white;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px
    font-size: 95%;
}

.information .small-icon{
    color: #427db4;
}

.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.2);
}

.social-icons{
    margin-top: 50px;
    list-style: none;
    margin-right: 50px;
}

.social-icons li{
    display: inline-block;
    font-size: 250%;
    margin-left: 30px;
    color: white;
    margin-right: 30px;
}

.social-icons li i{
    transition: all .3s;
    cursor: pointer;
}

.social-icons li i:hover,
.social-icons li i:active{
    transform: scale(1.3);
    color: #e67e22;
}
/*--------------------------------------*/
/*-------fb page------------------------*/

.fb-page{
    margin-left: 25%;
    width: 100%;

}

/*------------------footer-------------------*/
.footer{
    height: 50%;
    margin-left: 50px;

}



/*------------------content_container-------------------*/

.heading-main-box{
    position: absolute;
    top: 50%;
    left: 12%;
    transform: translate(-45%, -55%);
    width: 1140px;
}
/*---------------*/

.content__container {
    overflow: hidden;
    padding: 0 40px;
    margin-left: -3.5%;
    color: #F6F6F6;
    text-transform: uppercase;
    font-size: 300%;
    font-weight: 100;
    word-spacing: 10px;
    line-height: 105%;
    margin-bottom: 50px;
    height: 75px;
    margin-top: -5%;
}

.content__container__text {
      display: inline;
      float: left;
      margin: 0;
      margin-right: -10%;
    }

    .content__container__list {
      margin-top: 0;
      padding-left: 110px;
      text-align: left;
      list-style: none;
      
      -webkit-animation-name: change;
      -webkit-animation-duration: 14s;
      -webkit-animation-iteration-count: infinite;
      animation-name: change;
      animation-duration: 14s;
      animation-iteration-count: infinite;
    }

    .content__container__list__item {
        line-height:65px;
        margin:0;
        margin-left: 9%;
      }
    
  
/*--------------------------------*/


@-webkit-keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@-webkit-keyframes change {
0%, 12.66%, 100% {transform:translate3d(0,0,0);}
16.66%, 29.32% {transform:translate3d(0,-25%,0);}
33.32%,45.98% {transform:translate3d(0,-50%,0);}
49.98%,62.64% {transform:translate3d(0,-75%,0);}
66.64%,79.3% {transform:translate3d(0,-50%,0);}
83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@-o-keyframes change {
0%, 12.66%, 100% {transform:translate3d(0,0,0);}
16.66%, 29.32% {transform:translate3d(0,-25%,0);}
33.32%,45.98% {transform:translate3d(0,-50%,0);}
49.98%,62.64% {transform:translate3d(0,-75%,0);}
66.64%,79.3% {transform:translate3d(0,-50%,0);}
83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@-moz-keyframes change {
0%, 12.66%, 100% {transform:translate3d(0,0,0);}
16.66%, 29.32% {transform:translate3d(0,-25%,0);}
33.32%,45.98% {transform:translate3d(0,-50%,0);}
49.98%,62.64% {transform:translate3d(0,-75%,0);}
66.64%,79.3% {transform:translate3d(0,-50%,0);}
83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
0%, 100% {opacity:0;}
50% {opacity:1;}
}

@keyframes change {
0%, 12.66%, 100% {transform:translate3d(0,0,0);}
16.66%, 29.32% {transform:translate3d(0,-25%,0);}
33.32%,45.98% {transform:translate3d(0,-50%,0);}
49.98%,62.64% {transform:translate3d(0,-75%,0);}
66.64%,79.3% {transform:translate3d(0,-50%,0);}
83.3%,95.96% {transform:translate3d(0,-25%,0);}
}



